/* --Header-- */
.header {
    border-bottom: 1px solid #ECECEC;
    >.container {
        display: flex;
        align-items: center;
    }
}

.logo .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
}

.navigation {
    display: none;
}

/* Header navigation */
.menu-list {
    display: flex;
}

.menu-list__item:not(:last-child) {
    margin-right: 50px;
}

.menu-list__link {
    position: relative;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-list__link-current {
    position: relative;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-list__link-current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.contacts {
    // display: flex;
    margin-left: auto;
    display: none;
}

.contacts__mail {
    margin-bottom: 9px;
    color: var(--white-alpha-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.contacts__link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__tel {
    margin-left: 30px;
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.contacts__btn {
    display: none;
margin-left: auto;
}

.contacts__menu-open-btn, 
.contacts__menu-close-btn {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
}

.contacts__menu-close-btn {
    margin-bottom: 10px;
}


.mob-menu {
    position: fixed;
    top: 0;
    border-color: #ffffff;
    height: 100vh;
    width: 100vw;
    padding-top: 48px;
    padding-bottom: 48px;
    border: 1px solid tomato;
    .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            overflow: auto;
        }
}



.mob-menu-list {
font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
}

.mob-menu-list__item {
&:not(:last-child) {
    margin-bottom: 32px;
}
}

.mob-contacts__tel {
    margin-bottom: 64px;
}

.mob-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    margin-bottom: 32px;
}

.mob-mail-contacts__link {
font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    display: block;
}

.mob-soc-list {
    display: flex;
}

.mob-soc-list__link {
    font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
        
}

.mob-soc-list__item {
&:not(:last-child) {
        margin-right: 20px;
    }
}
